<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Фильмы фильмотеки</title>
    <style>
        .film-link {
            text-decoration: none;
        }

        .film-link:hover {
            color: #001445;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <h1>Все фильмы фильмотеки</h1>
    <div class="row">
        <div sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('LIBRARIAN'))" class="col">
            <a href="films/add"
               class="btn btn-secondary"
               role="button"
               style="float: right"
               aria-disabled="true">Добавить фильм</a>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Год выхода</th>
            <th scope="col">Страна</th>
            <th scope="col">Жанр</th>
            <th scope="col">Режиссёры</th>
            <th sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('LIBRARIAN'))" scope="col">Добавить режиссёра</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="film : ${films}">
            <td>
                <a class="film-link" th:href="'/films/' + ${film.getId()}"
                   th:text="${film.getFilmTitle()}">Название книги</a>
            </td>
            <td th:text="${film.getPremierYear()}"></td>
            <td th:text="${film.getCountry}"></td>
            <td th:text="${film.getGenre().getGenreTextDisplay()}"></td>
            <td>
                <ul>
                    <li th:each="director : ${film.getDirectors()}" th:text="${director.getDirectorsFio()}"></li>
                </ul>
            </td>
            <td>
                <a sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('LIBRARIAN'))" th:href="'/films/addDirector/'+ ${film.getId()}"
                   class="btn btn-primary" role="button"
                   aria-disabled="true">Добавить режиссёра</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>